<html>
    <head>

    </head>
    <body>
        <header>
            <nav>
                <a href="">Home</a>
                <a href="">Innovation</a>
                <a href="">About Us</a>
                <a href="">Conact Us</a>
                

            </nav>
        </header>
        <main>
            <h1>Welocme to Techborg</h1>
        </main>
        <footer>
            <nav>
                <a href="">Robotics</a>
                <a>Drones</a>
                <a href="">AI</a>
                <a>Blockchain</a>
                

            </nav>
            <nav>
                <a href="">About</a>
                <a>Community</a>
                <a href="">Careers</a>
                <a>Open-Source</a>
                

            </nav>
            <nav>
                <a href="">Help</a>
                <a>Sitemap</a>
                <a href="">Terms of use</a>
                <a>Privacy policy</a>
                

            </nav>
            <p>TechBorg Digital Labs © 2018-2025</p>
        </footer>
    </body>
</html>